<h1> Me </h1>

<div>
	<h4>Your email: <%= cu[:email] %></h4>
	
		<form action='me' method='post' class='form1'>
			<br/>
			<label> Your phone number: </label> <%= erb :'me/area_codes_dropdown' %> <input placeholder='555-202-1234' pattern=.{8,} title='8 digits minimum' name=num value="<%=cu[:num].to_s.sub(cu[:country_code].to_s,'')%>" style='width: 150px' required autofocus /> 
			<br/>
			<br/>
			<label> Get messages approximately: </label> <select name="num_msgs_per_day" style='width: 70px'>
				<% [1,2,3,4].each do |num| %>
					<option value=<%=num%> <%= 'selected' if cu[:num_msgs_per_day]==num%>><%=num%></option>
				<% end %>
			</select> times a day
			<br/>
			<br/>
			<label> Receive messages:</label><input name=active type=checkbox <%="checked" if cu[:active]%> /> 
		<!-- <label> You will receive messages </label>

		<label> every </label>
		<select name='start_hour'>
			<% (1..23).to_a.each do |i| %>
				<option><%= i %></option>
			<% end %>
		</select>
		
		<label> from </label>
		<select name='start_hour'>
			<% (1..23).to_a.each do |i| %>
				<option><%= i %></option>
			<% end %>
		</select>

		<label> until </label>
		<select name='end_hour'>
			<% (1..23).to_a.each do |i| %>
				<option><%= i %></option>
			<% end %>
		</select> -->
			<br/>
			<button class='btn btn-info btn-raised'> Update </button>
		</form>
</div>